<h1>Макаров Никита. ИУ6-34Б. Лабораторная работа №11</h1>
<div>
Все меньшие n (n ≤ 10^6) натуральные числа,
которые являются палиндромами как в десятичной, так
и в двоичной системе</div>
<div>
  <%= form_tag(calc_view_path, :method => "get") do %>
    <div>Input N:</div>
    <div><%= number_field_tag(:number, "Input n from 1 to 1000000", min:"1", max:"1000000", pattern: "^[1-9][0-9]?$|^1000000$") %> </div>
    <div><%= submit_tag("Calc result") %></div>
  <% end %>
</div>
<div>
    <%= form_tag("/calc/show_db", :method => "get") do %>
        <div><%=submit_tag("Show XML") %></div>
    <%end %>
</div>

